@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  //   height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-family: "Silkscreen", cursive;
    font-size: 40px;
  }
  .buttons {
    button {
      font-family: "Silkscreen", cursive;
      border: 1.5px dotted #000;
      background-color: transparent;
      font-size: 10px;
      margin-left: 25px;
    }
  }
  .coin-list {
    li {
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 15px;
    }
  }
  .coin-convert {
    font-family: "Montserrat", sans-serif;
    select {
      appearance: none;
      border: 1px solid rgb(120, 120, 120);
      padding: 5px 10px;
      margin-top: 20px;
    }
    input {
      margin-top: 20px;
      border: none;
      border-bottom: 1px solid #000;
      padding: 2px 5px;
    }
    span {
      font-size: 12px;
    }
    h3 {
      margin-top: 30px;
      font-size: 18px;
      text-align: center;
      span {
        font-size: 18px;
        color: rgb(0, 100, 200);
      }
    }
  }
}
